<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_menu_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,470}</string>
                <key>spriteSourceSize</key>
                <string>{1020,470}</string>
                <key>textureRect</key>
                <string>{{401,0},{1020,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{0,401},{249,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_selection_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2288,640}</string>
                <key>spriteSourceSize</key>
                <string>{2288,640}</string>
                <key>textureRect</key>
                <string>{{1421,0},{2288,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_completion_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2284,134}</string>
                <key>spriteSourceSize</key>
                <string>{2284,134}</string>
                <key>textureRect</key>
                <string>{{0,650},{2284,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_completion_fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2284,134}</string>
                <key>spriteSourceSize</key>
                <string>{2284,134}</string>
                <key>textureRect</key>
                <string>{{0,784},{2284,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_active_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,174}</string>
                <key>spriteSourceSize</key>
                <string>{175,174}</string>
                <key>textureRect</key>
                <string>{{251,470},{175,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_inactive_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,174}</string>
                <key>spriteSourceSize</key>
                <string>{175,174}</string>
                <key>textureRect</key>
                <string>{{426,470},{175,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,174}</string>
                <key>spriteSourceSize</key>
                <string>{175,174}</string>
                <key>textureRect</key>
                <string>{{601,470},{175,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,174}</string>
                <key>spriteSourceSize</key>
                <string>{175,174}</string>
                <key>textureRect</key>
                <string>{{776,470},{175,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CustomSpritesheet.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>false</string>
            <key>textureFileName</key>
            <string>CustomSpritesheet.png</string>
        </dict>
    </dict>
</plist>
